<div ng-app='app'>
  <div ng-controller='restaurantCtrl'>

  <h1>Search for a NYC restauarant and get its Grade/Violations:</h1>
  Restaurant Name: <input ng-model='restauarantName'>
  <button ng-click='searchRestaurant(restauarantName)'>Search</button>



  </div>
</div>